In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import mean_squared_error,accuracy_score
from sklearn.metrics import classification_report

In [2]:
data = pd.read_csv('UCI_Credit_Card.csv')
data.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [3]:
data.describe()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
count,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,...,30000.000000,30000.000000,30000.000000,30000.000000,3.000000e+04,30000.00000,30000.000000,30000.000000,30000.000000,30000.000000
mean,15000.500000,167484.322667,1.603733,1.853133,1.551867,35.485500,-0.016700,-0.133767,-0.166200,-0.220667,...,43262.948967,40311.400967,38871.760400,5663.580500,5.921163e+03,5225.68150,4826.076867,4799.387633,5215.502567,0.221200
std,8660.398374,129747.661567,0.489129,0.790349,0.521970,9.217904,1.123802,1.197186,1.196868,1.169139,...,64332.856134,60797.155770,59554.107537,16563.280354,2.304087e+04,17606.96147,15666.159744,15278.305679,17777.465775,0.415062
min,1.000000,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.00000,0.000000,0.000000,0.000000,0.000000
25%,7500.750000,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2326.750000,1763.000000,1256.000000,1000.000000,8.330000e+02,390.00000,296.000000,252.500000,117.750000,0.000000
50%,15000.500000,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,...,19052.000000,18104.500000,17071.000000,2100.000000,2.009000e+03,1800.00000,1500.000000,1500.000000,1500.000000,0.000000
75%,22500.250000,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,...,54506.000000,50190.500000,49198.250000,5006.000000,5.000000e+03,4505.00000,4013.250000,4031.500000,4000.000000,0.000000
max,30000.000000,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.00000,621000.000000,426529.000000,528666.000000,1.000000

In [4]:
x = data.drop(columns = ['ID' , 'SEX' , 'MARRIAGE' , 'default.payment.next.month'])
y = data['default.payment.next.month']

In [5]:
x

,LIMIT_BAL,EDUCATION,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
0,20000.0,2,24,2,2,-1,-1,-2,-2,3913.0,...,689.0,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0
1,120000.0,2,26,-1,2,0,0,0,2,2682.0,...,2682.0,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0
2,90000.0,2,34,0,0,0,0,0,0,29239.0,...,13559.0,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0
3,50000.0,2,37,0,0,0,0,0,0,46990.0,...,49291.0,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0
4,50000.0,2,57,-1,0,-1,0,0,0,8617.0,...,35835.0,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,220000.0,3,39,0,0,0,0,0,0,188948.0,...,208365.0,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0
29996,150000.0,3,43,-1,-1,-1,-1,0,0,1683.0,...,3502.0,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0
29997,30000.0,2,37,4,3,2,-1,0,0,3565.0,...,2758.0,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0
29998,80000.0,3,41,1,-1,0,0,0,-1,-1645.0,...,76304.0,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0
29999,50000.0,2,46,0,0,0,0,0,0,47929.0,...,49764.0,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0

In [6]:
x_train, x_test, y_train, y_test = train_test_split(x , y , test_size = 0.25)

print('Shape(X_train) : ' , x_train.shape)
print('Shape(y_train) : ' , y_train.shape)
print('Shape(X_test) : ' , x_test .shape)
print('Shape(y_test) : ' , y_test.shape)

Shape(X_train) :  (22500, 21)
Shape(y_train) :  (22500,)
Shape(X_test) :  (7500, 21)
Shape(y_test) :  (7500,)

# RandomForestClassifier

In [7]:
clf = RandomForestClassifier()

In [9]:
clf.fit(x_train , y_train)

pred = clf.predict(x_test)

print(pred)

score = clf.score(x_train , y_train)
print('Accuracy : ' , score*100)

score = clf.score(x_test , y_test)
print('Accuracy : ' , score*100)

[1 0 0 ... 0 0 0]
Accuracy :  99.86222222222221
Accuracy :  81.89333333333333

In [35]:
print('Parameters currently in use:\n')
print(clf.get_params())

Parameters currently in use:

{'bootstrap': True, 'ccp_alpha': 0.0, 'class_weight': None, 'criterion': 'gini', 'max_depth': None, 'max_features': 'auto', 'max_leaf_nodes': None, 'max_samples': None, 'min_impurity_decrease': 0.0, 'min_impurity_split': None, 'min_samples_leaf': 1, 'min_samples_split': 2, 'min_weight_fraction_leaf': 0.0, 'n_estimators': 100, 'n_jobs': None, 'oob_score': False, 'random_state': None, 'verbose': 0, 'warm_start': False}

### Classification Report

In [27]:
rep = classification_report(y_test , pred)
print(rep)

              precision    recall  f1-score   support

           0       0.84      0.94      0.88      5812
           1       0.64      0.37      0.47      1688

    accuracy                           0.81      7500
   macro avg       0.74      0.66      0.68      7500
weighted avg       0.79      0.81      0.79      7500

### Confusion Matrix

In [30]:
from sklearn.metrics import confusion_matrix

cf = confusion_matrix(y_test , pred)

In [31]:
cf

array([[5451,  361],
       [1057,  631]], dtype=int64)

### HyperParameter Tunning

### GridSearchCV

In [36]:
from sklearn.model_selection import GridSearchCV

In [39]:
param_grid = {

    'n_estimators': [10 , 20 , 30],
    'max_depth': [15 , 20 , 30 , 50],
    'criterion': ['gini' , 'entropy']
    
}

In [40]:
rc = RandomForestClassifier(random_state = 0)

grid = GridSearchCV(estimator = rc , param_grid = param_grid , cv = 3 , scoring = 'accuracy')

grid.fit(x_train , y_train)

GridSearchCV(cv=3, error_score=nan,
             estimator=RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                              class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              max_samples=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators=100, n_jobs=None,
                                              oob_score=False, random_state=0,
                                              verbose=0, warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [15, 20, 30, 50],
                         'n_estimators': [10, 20, 30]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='accuracy', verbose=0)

In [41]:
print(grid.best_params_)

{'criterion': 'gini', 'max_depth': 15, 'n_estimators': 20}

In [52]:
print('Accuracy : ' + str(grid.best_score_))

Accuracy : 0.8176888888888888

### RandomSearch

In [57]:
from scipy.stats import randint as sp_rand
from random import randrange as r_rand
from sklearn.model_selection import RandomizedSearchCV

In [60]:
param_grid = {

    'n_estimators': sp_rand(10 , 100),
    'max_depth': sp_rand(5 , 10),
    'criterion': ['gini' , 'entropy']
    
}

n_itr_search = 20

In [61]:
rc = RandomForestClassifier(random_state = 0)

random = RandomizedSearchCV(rc , param_distributions = param_grid , n_iter = n_itr_search , cv = 3 , scoring = 'accuracy')

random.fit(x_train , y_train)

RandomizedSearchCV(cv=3, error_score=nan,
                   estimator=RandomForestClassifier(bootstrap=True,
                                                    ccp_alpha=0.0,
                                                    class_weight=None,
                                                    criterion='gini',
                                                    max_depth=None,
                                                    max_features='auto',
                                                    max_leaf_nodes=None,
                                                    max_samples=None,
                                                    min_impurity_decrease=0.0,
                                                    min_impurity_split=None,
                                                    min_samples_leaf=1,
                                                    min_samples_split=2,
                                                    min_weight_fraction_leaf=0.0,
                                                    n_estimators=100,
                                                    n_jobs...
                   iid='deprecated', n_iter=20, n_jobs=None,
                   param_distributions={'criterion': ['gini', 'entropy'],
                                        'max_depth': <scipy.stats._distn_infrastructure.rv_frozen object at 0x0000019E0333AC88>,
                                        'n_estimators': <scipy.stats._distn_infrastructure.rv_frozen object at 0x0000019E0333ABC8>},
                   pre_dispatch='2*n_jobs', random_state=None, refit=True,
                   return_train_score=False, scoring='accuracy', verbose=0)

In [62]:
print(random.best_params_)

{'criterion': 'entropy', 'max_depth': 7, 'n_estimators': 40}

In [63]:
print('Accuracy : ' + str(random.best_score_))

Accuracy : 0.8220444444444445